<!DOCTYPE html>
<html lang="en">
<title>height collector web application</title>
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" href="../static/main.css" >
    <title>Collector Web application</title>
</head>

<body>
    <div class="container">
    <h1>Collecting height</h1>
    <h3>Please feel the entries to get population statistics on height</h3>
    
    <div class="message">
            {{text |safe}}

    </div>
    
    
    <form action="{{url_for('success')}}" method="POST">
            <input title="Your email" placeholder="Enter your email" type="email" name="email_name" required> <br>
            <input title="Your data" placeholder="Enter your data" type="number" name="height_name" min = 50 ,max=300 ,step=0.01 required> <br>
            <button type="submit">Submit</button>

    </form>
</div>
</body>

</html>